@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  overflow: overlay;
}

.fill-screen {
  width: calc(var(--vw) * 100);
  height: calc(var(--vh) * 100);
}

.add-bg {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,126,253,1) 100%);
}

/* Project Section Pagination */

.swiper-pagination-bullet {
  margin: 0px 2px;
}

.swiper-pagination-bullet-active {
  background: #374151 !important;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,126,253,1) 100%);
  border: 2px solid #374151;
  border-radius: 24px;
}

@media screen and (max-width: 480px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}